In [1]:
import os
import numpy as np
import numpy.random  as rd
import scipy as sp
from scipy import stats as st
from collections import Counter
import pandas as pd

import matplotlib
from matplotlib import font_manager
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib import rc
import matplotlib.animation as ani
import random
import math
plt.rcParams["patch.force_edgecolor"] = True
#rc('text', usetex=True)
import seaborn as sns
sns.set(style="whitegrid", palette="muted", color_codes=True)
sns.set_style("whitegrid", {'grid.linestyle': '--'})
red = sns.xkcd_rgb["light red"]
green = sns.xkcd_rgb["medium green"]
blue = sns.xkcd_rgb["denim blue"]
%matplotlib inline

In [2]:
df = pd.read_csv("../data/nikkei225_d.csv")

In [3]:
df.Date = [i.replace("/", "-")for i in df.Date]
df

            Date      Open      High       Low     Close
0     1986-01-04  13118.50  13142.33  13105.97  13136.87
1     1986-01-06  13129.05  13145.54  13053.22  13053.79
2     1986-01-07  13034.57  13037.68  12933.50  12991.24
3     1986-01-08  12997.74  13057.46  12996.80  13056.42
4     1986-01-09  13036.08  13062.26  12959.21  13034.19
5     1986-01-10  13033.91  13037.11  12989.17  12998.21
6     1986-01-13  12992.09  12992.09  12946.87  12977.02
7     1986-01-14  12968.82  12968.82  12924.83  12928.60
8     1986-01-16  12940.18  13027.13  12940.18  13027.13
9     1986-01-17  13031.37  13059.16  12992.28  13009.70
10    1986-01-18  13001.32  13008.20  12984.27  13006.78
11    1986-01-20  13005.37  13005.37  12938.58  12952.05
12    1986-01-21  12934.06  12940.94  12880.93  12881.50
13    1986-01-22  12883.38  12942.92  12882.25  12923.32
14    1986-01-23  12926.71  12931.71  12871.89  12888.94
15    1986-01-24  12892.14  12944.33  12879.71  12904.20
16    1986-01-25  12905.24  12955.16  12905.24  12953.37
17    1986-01-27  12965.81  13027.69  12965.81  12983.14
18    1986-01-28  12983.80  13009.04  12969.20  12993.69
19    1986-01-29  12991.71  13013.56  12948.76  12957.14
20    1986-01-30  12954.13  12964.39  12938.02  12949.04
21    1986-01-31  12948.38  13026.38  12944.71  13024.30
22    1986-02-01  13022.98  13068.86  13022.98  13043.61
23    1986-02-03  13046.82  13118.31  13046.82  13086.47
24    1986-02-04  13094.01  13146.67  13094.01  13138.09
25    1986-02-05  13131.88  13188.49  13131.88  13185.66
26    1986-02-06  13190.66  13210.34  13170.31  13186.61
27    1986-02-07  13185.95  13216.94  13185.95  13212.13
28    1986-02-10  13218.07  13238.04  13217.69  13226.07
29    1986-02-12  13223.34  13311.23  13223.34  13300.58
...          ...       ...       ...       ...       ...
7683  2016-11-17  17766.61  17884.06  17764.08  17862.63
7684  2016-11-18  18024.21  18043.72  17967.41  17967.41
7685  2016-11-21  18038.09  18129.03  18007.79  18106.02
7686  2016-11-22  18091.05  18175.63  18050.55  18162.94
7687  2016-11-24  18329.78  18382.72  18310.31  18333.41
7688  2016-11-25  18387.59  18482.94  18288.50  18381.22
7689  2016-11-28  18302.58  18374.93  18222.82  18356.89
7690  2016-11-29  18263.63  18327.51  18258.82  18307.04
7691  2016-11-30  18356.03  18370.31  18280.66  18308.48
7692  2016-12-01  18535.24  18746.28  18469.27  18513.12
7693  2016-12-02  18435.55  18469.68  18315.38  18426.08
7694  2016-12-05  18349.92  18365.74  18227.39  18274.99
7695  2016-12-06  18457.20  18484.80  18318.99  18360.54
7696  2016-12-07  18434.54  18502.47  18410.88  18496.69
7697  2016-12-08  18674.19  18765.47  18614.01  18765.47
7698  2016-12-09  18839.98  19042.48  18821.41  18996.37
7699  2016-12-12  19183.82  19280.93  19054.00  19155.03
7700  2016-12-13  19120.76  19253.51  19060.72  19250.52
7701  2016-12-14  19270.01  19284.28  19184.75  19253.61
7702  2016-12-15  19327.70  19436.90  19192.60  19273.79
7703  2016-12-16  19438.39  19439.97  19360.36  19401.15
7704  2016-12-19  19345.84  19399.26  19307.14  19391.60
7705  2016-12-20  19367.84  19511.20  19356.81  19494.53
7706  2016-12-21  19547.28  19592.90  19375.19  19444.49
7707  2016-12-22  19396.85  19427.67  19327.51  19427.67
7708  2016-12-26  19394.41  19432.48  19385.94  19396.64
7709  2016-12-27  19353.43  19478.58  19352.06  19403.06
7710  2016-12-28  19392.11  19442.13  19364.73  19401.72
7711  2016-12-29  19301.04  19301.04  19092.22  19145.14
7712  2016-12-30  18997.68  19176.81  18991.59  19114.37

[7713 rows x 5 columns]

In [4]:
df["Date"] = pd.DatetimeIndex(df["Date"])
df["day_of_week"] = df.Date.dt.dayofweek
df = df.iloc[3540:]
df.iloc[:, 1:-1] = (df.iloc[:, 1:-1]-df.iloc[:, 1:-1].min())/(df.iloc[:, 1:-1].max() - df.iloc[:, 1:-1].min())
df.head()

//anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

           Date      Open      High       Low     Close  day_of_week
3540 2000-01-04  0.856924  0.872574  0.862694  0.864970            1
3541 2000-01-05  0.861690  0.859283  0.810999  0.831646            2
3542 2000-01-06  0.830704  0.828907  0.807131  0.804550            3
3543 2000-01-07  0.803291  0.807465  0.799895  0.806370            4
3544 2000-01-11  0.807046  0.850913  0.812753  0.853971            1

In [5]:
os.chdir("..")
home_dir = os.getcwd()
os.chdir("src")
from sdle import SDLE
from sdem import SDEM
from smartsifter import *
os.chdir(home_dir)

In [6]:
x = df.day_of_week.reshape((df.shape[0], 1))
y = df.Close.reshape((df.shape[0], 1))
#Z = np.concatenate([x, y], axis=1)
Z = np.concatenate([x, df.iloc[:, 1:-1]], axis=1)

//anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  if __name__ == '__main__':
//anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  from ipykernel import kernelapp as app

In [7]:
# パラメータ設定
alpha = 2.0
k = 3
T = Z.shape[0]
d = Z.shape[1]-1
r = 1/T * 10
beta = 1
A = range(5)

In [ ]:
# オブジェクトの初期化
sdle = SDLE(r, beta, A)
sdem = [SDEM(r, alpha, k, d) for i in A]

# 同時確率
p = []
# ヘリンジャースコア
S_H = []
# 対数損失
S_L = []

for i, z in enumerate(Z):
    sdle.update(z[0])
    # 各セルに対応する混合ガウス分布を推定
    for m in range(sdle.M):
        if m == int(sdle.flag):
            sdem[m].update(z[1:])
        else:
            sdem[m].skip()
        # tmp: p(y|x)
        tmp = np.dot(sdem[m].prob[sdem[m].t-1],sdem[m].pi[sdem[m].t-1])
    if i == 0:
        p_prev = 0
    else:
        p_prev = p[-1]
    p_t = tmp * sdle.prob[sdle.t-1, int(sdle.flag)]
    p.append(p_t)
    s_h = calc_hellinger_score(sdle.prob[sdle.t-1], sdle.prob[sdle.t-2], sdem, sdle.r, k, sdle.M)
    S_H.append(float(s_h))
    s_l = -np.log(p_prev)
    S_L.append(s_l)

//anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:30: RuntimeWarning: divide by zero encountered in log

In [ ]:
df["S_L"] = np.array(S_L)
df["S_H"] = np.array(S_H)
df_tmp = df.iloc[1000:].copy()
df.describe()

In [ ]:
# data_uj: ret_n, data_n: ret_uj
fig = plt.figure(figsize=(20, 10))
ax = fig.add_subplot(111)
ax.plot(df.Close)
ax2 = ax.twinx()
ax2.plot(df.S_L,'r')
plt.show()

# data_uj: ret_n, data_n: ret_uj
fig = plt.figure(figsize=(20, 10))
ax = fig.add_subplot(111)
ax.plot(df.Close)
ax2 = ax.twinx()
ax2.plot(df.S_H,'r')
plt.show()

In [ ]:
# data_uj: ret_n, data_n: ret_uj
fig = plt.figure(figsize=(20, 10))
ax = fig.add_subplot(111)
ax.plot(df_tmp.Close)
ax2 = ax.twinx()
ax2.plot(df_tmp.S_L,'r')
plt.show()

# data_uj: ret_n, data_n: ret_uj
fig = plt.figure(figsize=(20, 10))
ax = fig.add_subplot(111)
ax.plot(df_tmp.Close)
ax2 = ax.twinx()
ax2.plot(df_tmp.S_H,'r')
plt.show()